.board-page {
  display: grid;
  grid-template-rows: 77px calc(100% - 77px);
  grid-template-columns: 100%;
  height: 100%;
}

.board-page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding: 10px 16px;
}

.create-column-btn {
  align-self: flex-start;
  margin-bottom: 20px;
}

.columns-list {
  display: grid;
  grid-template-rows: 100%;
  grid-auto-flow: column dense;
  justify-content: flex-start;
  gap: 10px;

  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;

  flex-grow: 1;

  list-style-type: none;
}

.no-data {
  margin: auto;
  max-width: 500px;

  &-title {

  }

  &-image {
    max-width: 100%;
  }
}
