<section class="board-page" *ngIf="(board$ | async) as board">
  <app-board-page-header
  [boardTitle]="board.title || ''" (back)="navigateBack()">
  </app-board-page-header>

  <div class="board-page-content" *ngIf="userId$ | async as userId">
    <button (click)="openCreateColumnModal()" class="create-column-btn" mat-stroked-button>
      <mat-icon>add</mat-icon>
      {{ "board.create-column-btn" | translate }}
    </button>

    <ul class="columns-list" *ngIf="(columns$ | async) as columns">
      <li class="columns-item" *ngFor="let column of columns">
        <app-column [column]="column" [boardId]="board.id" [userId]="userId"></app-column>
      </li>
    </ul>
  </div>
</section>
