.board-page {
  display: flex;
  flex-direction: column;
}

.board-page-content {
  flex-grow: 1;
  padding: 10px 16px;

  display: flex;
  flex-direction: column;
}

.create-column-btn {
  align-self: flex-start;
  margin-bottom: 20px;
}

.columns-list {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column dense;
  justify-content: flex-start;
  gap: 10px;

  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px;
  overflow-x: auto;

  flex-grow: 1;

  list-style-type: none;
  background-color: #fafafa;
}
