<section *ngIf="(board$ | async) as board" class="board">
  <app-board-page-header
    class="board__header"
    [boardId]="board._id"
    (back)="navigateBack()"
    [boardTitle]="board.title || ''">
  </app-board-page-header>

  <div *ngIf="userId$ | async as userId"
       class="board__content">
    <ng-container *ngIf="(columns$ | async) as columns">
      <ul *ngIf="columns.length; else noColumns" class="board__columns columns">
        <li *ngFor="let column of columns" class="columns__item">
          <app-column [boardId]="board._id" [column]="column" [userId]="userId"></app-column>
        </li>
      </ul>

      <ng-template #noColumns>
        <div class="no-data">
          <h1 class="no-data__title">No columns! Create one.</h1>
          <app-no-data-svg class="no-data__image"></app-no-data-svg>
        </div>
      </ng-template>
    </ng-container>
  </div>
</section>
