<section class="create-board">
  <div class="form-container" *ngIf="boardService.IsCreateBoardModalVisible">

    <form (ngSubmit)='submit()' >

      <h3>{{'main-page.newBoard' | translate}}</h3>

      <mat-form-field appearance="fill">
        <mat-label for="title">{{'main-page.title' | translate}}</mat-label>
        <input type="text"
        matInput required
        name="title"
        [(ngModel)]="boardTitle"
        ></mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label for="description">{{'main-page.description' | translate}}</mat-label>
        <input type="text"
        matInput required
        name="description"
        [(ngModel)]="boardDescription"
        ></mat-form-field>

      <button
      type="submit" mat-button>
      {{'main-page.createBoard' | translate}}
      </button>

    </form>

  </div>
  <p *ngIf="boardError">{{'main-page.boardCreateError' | translate}}</p>
</section>

