<section class="create-board">
  <div *ngIf="boardService.IsCreateBoardModalVisible" class="form-container">
    <form (ngSubmit)='submit()' [formGroup]="createBoard">
      <h3>{{'main-page.newBoard' | translate}}</h3>
      <mat-form-field appearance="fill">
        <mat-label for="title">{{'main-page.title' | translate}}</mat-label>
        <input formControlName="title" matInput name="title" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="description">{{'main-page.description' | translate}}</mat-label>
        <input formControlName="description" matInput name="description" type="text">
      </mat-form-field>
      <button mat-button> {{'main-page.createBoard' | translate}}</button>
    </form>
  </div>
  <p *ngIf="boardError">{{'main-page.boardCreateError' | translate}}</p>
</section>

