@import '../../../shared/styles/board-item.scss';

.create-board {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
h3 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: lighten(grey, 70%);
  padding: 30px;
  button {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

.create-board-button {
  justify-content: center;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  img {
    width: 90px;
  }
}
