<button
  *ngIf="isMatMenu; else notMatMenu"
  [matMenuTriggerFor]="profileMenu"
  aria-label="Open profile menu"
  class="nav__profile-menu profile-menu"
  mat-menu-item>
  {{ 'header.greeting' | translate }}{{ username }}
</button>

<ng-template #notMatMenu>
  <button
    [matMenuTriggerFor]="profileMenu"
    aria-label="Open profile menu"
    class="nav__profile-menu profile-menu"
    color="primary"
    mat-raised-button
  >
    {{ 'header.greeting' | translate }}{{ username }}
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
</ng-template>

<mat-menu #profileMenu="matMenu">
  <a class="profile-menu__edit-profile-link"
     mat-menu-item
     routerLink="edit-profile">{{ 'header.nav.edit-profile' | translate }}</a>
  <button
    (click)="onLogout()"
    class="profile-menu__sign-out-btn"
    mat-menu-item
  >{{ 'header.nav.sign-out' | translate }}</button>
</mat-menu>
