<form class="modal" (ngSubmit)="save()" (keydown.enter)="save()" #createColumn="ngForm">
  <header class="header">
    <button mat-button [mat-dialog-close]="null" class="close-btn"><mat-icon>close</mat-icon></button>
    <h1 mat-dialog-title>Create column</h1>
  </header>
  <div class="content" mat-dialog-content>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput required
             [(ngModel)]="columnTitle" name="column-title">
    </mat-form-field>
  </div>
  <footer class="footer" mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null">Cancel</button>
    <button mat-raised-button type="submit" color="primary" [disabled]="!createColumn.form.valid">Save</button>
  </footer>
</form>
