@import "src/styles/vars";

.welcome {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__info {
    flex-basis: 400px;

    @media (max-width: 576px) {
      max-width: 400px;
      flex-basis: auto;
    }
  }

  &__image {
    flex-basis: 50%;
  }

  &__title {
    margin-top: 30px;
    font-size: 32px;
    color: $blue-color;
  }

  &__description {
  }
}

.course {
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__img-container {
    flex-basis: 50%;
    max-width: 400px;
    margin: 0;

    @media (max-width: 576px) {
      max-width: 250px;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__info {
    flex-basis: 400px;

    @media (max-width: 576px) {
      flex-basis: auto;
      max-width: 400px;
      order: -1;
    }
  }

  &__title {}

  &__description {
  }
}

.team {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
  }

  &__members {
    margin: 40px 0;
  }

  &-img {
    &-block {
      width: 80px;
      height: 80px;
      background: #c2bbc2;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 10px;
      border-radius: 100%;
    }
  }
  &-description {
    margin-top: 15px;
  }
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  padding: 0;

  &__item {
    flex-basis: calc(25% - 20px);

    @media (max-width: 768px) {
      flex-basis: calc(50% - 20px);
    }

    @media (max-width: 425px) {
      flex-basis: 100%;
      max-width: 300px;
    }
  }

}

.member {
  text-align: center;

  &__avatar-container {
    margin: 0;
  }

  &__avatar {
    width: 150px;
    border-radius: 50%;
    height: 150px;
    object-fit: cover;
  }

  &__name {
  }

  &__description {
  }
}
