.formLogin {
  display: flex;
  flex-direction: column;

}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.warning {
  position: absolute;
  bottom: -40px;
  width: 25%;
  margin-top: 3rem;
  padding: 2.5rem;
  border-radius: 1rem;
  font-style: italic;
  color: #ffffff;
  background-color: #f44336;;
}
