<form class="modal" (ngSubmit)="save(modalForm)" #modalForm="ngForm">
  <header class="modal__header header">
    <button mat-button [mat-dialog-close]="false" class="header__close-btn">
      <mat-icon>close</mat-icon>
    </button>
    <h1 mat-dialog-title>{{ data.title }}</h1>
  </header>
  <div class="modal__content" mat-dialog-content>
    <ng-container *ngIf="data.formFields">
      <mat-form-field *ngFor="let field of data.formFields">
        <mat-label>{{ field.label }}</mat-label>
        <input
          [(ngModel)]="formValues[field.name]"
          [name]="field.name"
          matInput
          required>
      </mat-form-field>
    </ng-container>
  </div>
  <footer class="modal__footer" mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="!modalForm.form.valid"
    >Save</button>
  </footer>
</form>
