<header class="header">
  <div>
    <div class="title">{{ 'header.title' | translate }}</div>
    <div class="user" *ngIf="isLogged$ | async">{{ 'header.logged' | translate }} {{ userName$ | async }}</div>
    <div class="user" *ngIf="!!!(isLogged$ | async)">{{ 'header.no-logged' | translate }}</div>
  </div>
  <div *ngIf="isLogged$ | async">
    <mat-form-field appearance="standard">
      <mat-label>{{ 'header.search' | translate }}</mat-label>
      <input matInput (input)="boardService.searchValue = (input.value)" #input>
    </mat-form-field>
  </div>
  <nav>
    <button *ngIf="isLogged$ | async" mat-button>{{ 'header.editProfile' | translate }}</button>
    <button *ngIf="isLogged$ | async" mat-button
    (click)="boardService.IsCreateBoardModalVisible = !boardService.IsCreateBoardModalVisible">
      {{ 'header.createNewBoard' | translate }}
    </button>
    <button
      *ngIf="isLogged$ | async"
      mat-button
      (click)="logout()"
    >{{ 'common.logout' | translate }}</button>
    <a
      *ngIf="!!!(isLogged$ | async)"
      mat-button
      routerLink="login"
    >{{ 'common.login' | translate }}</a>
    <mat-select class="lang-select" [(value)]="lang" (selectionChange)="changeLocale()">
      <mat-option *ngFor="let lang of languages" [value]="lang">
        {{ lang | langTransform | translate }}
      </mat-option>
    </mat-select>
  </nav>
</header>
