<header class="header">
  <div>
    <div class="title">{{ 'header.logo' | translate }}</div>
    <div class="user" *ngIf="isLogged$ | async">{{ 'header.logged' | translate }} {{ userName$ | async }}</div>
    <div class="user" *ngIf="!!!(isLogged$ | async)">{{ 'header.no-logged' | translate }}</div>
  </div>
  <div *ngIf="isLogged$ | async">
    <mat-form-field appearance="standard">
      <mat-label>{{ 'header.search' | translate }}</mat-label>
      <input matInput (input)="boardService.searchValue = (input.value)" #input>
    </mat-form-field>
  </div>
  <nav>
    <button *ngIf="isLogged$ | async" mat-button routerLink="edit-profile">
      {{ 'header.nav.edit-profile' | translate }}
    </button>
    <button *ngIf="isLogged$ | async" mat-button
    (click)="boardService.IsCreateBoardModalVisible = !boardService.IsCreateBoardModalVisible">
      {{ 'header.nav.create-new-board' | translate }}
    </button>
    <button
      *ngIf="isLogged$ | async"
      mat-button
      (click)="logout()"
    >{{ 'header.nav.sign-out' | translate }}</button>
    <a
      *ngIf="!!!(isLogged$ | async)"
      mat-button
      routerLink="login"
    >{{ 'header.nav.sign-in' | translate }}</a>
    <mat-slide-toggle
      color="primary"
      (toggleChange)="changeLocale()"
    >{{ localeName | translate }}</mat-slide-toggle>
  </nav>
</header>
