@import "src/styles/vars";

.board {
  height: 100%;
  background-color: $blue-color-light;
  cursor: pointer;
  padding: 40px 35px 30px 15px;
  overflow: auto;

  &:hover {
    background: lighten($blue-color-light, 10%);
  }

  &__title {
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
  }

  &__delete-btn {
    position: absolute;
    top: 10px;
    right: 5px;
    min-width: auto;
    padding: 0;

    background-color: transparent;
    cursor: pointer;
  }
}
