<section class="auth">
  <div class="auth__content container">
    <h1 class="auth__title section__title">{{ 'auth.sign-up.title' | translate }}</h1>
    <form (ngSubmit)="signup()" [formGroup]="signupForm" class="auth__form auth-form">
      <mat-form-field class="auth-form__name" appearance="outline">
        <mat-label>{{ 'auth.forms.field-names.name' | translate }}</mat-label>
        <input
          formControlName="name"
          matInput
          name="name"
          type="text"
        >
        <mat-error *ngIf="hasNameError">{{ getNameErrorMessage() | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field class="auth-form__email" appearance="outline">
        <mat-label>{{ 'auth.forms.field-names.email' | translate }}</mat-label>
        <input
          formControlName="email"
          matInput
          name="login"
          type="text"
        >
        <mat-error *ngIf="hasEmailError">{{ getEmailErrorMessage() | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field class="auth-form__password" appearance="outline">
        <mat-label>{{'auth.forms.field-names.password' | translate}}</mat-label>
        <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput/>
        <button
          (click)="setHidePassword()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
          mat-icon-button
          matSuffix
          type="button"
        >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="hasPasswordError">{{ getPasswordErrorMessage() | translate}}</mat-error>
      </mat-form-field>

      <button
        class="auth-form__submit-btn"
        color="primary"
        mat-raised-button
        type="submit"
      >{{ 'auth.sign-up.submit' | translate }}</button>
    </form>
  </div>
</section>
