<app-form-section>
  <h2>{{ 'login-module.signup-welcome' | translate }}</h2>
  <form class="formLogin" [formGroup]="signupForm" (ngSubmit)="signup()">
    <mat-form-field appearance="standard">
      <mat-label for="name">{{ 'common.name' | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="name"
        name="name"
      >
      <mat-error *ngIf="hasNameError">{{ getNameErrorMessage() | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label for="login">{{ 'common.login' | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="email"
        name="login"
      >
      <mat-error *ngIf="hasEmailError">{{ getEmailErrorMessage() | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label for="password">{{ 'common.password' | translate }}</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        name="password"
      >
      <mat-error *ngIf="hasPasswordError">{{ getPasswordErrorMessage() | translate }}</mat-error>
    </mat-form-field>
    <div class="buttons">
      <a mat-button routerLink="">{{ 'common.main-link' | translate }}</a>
      <button
        mat-button
        type="submit"
      >{{ 'common.signup' | translate }}</button>
    </div>
  </form>
  <div *ngIf="isSignupError" class="warning">{{ errMessage | translate }}</div>
</app-form-section>
