@import '../../../../shared/styles/board-item.scss';
.board{
  &-card {
    button {
      position: absolute;
      top: 10px;
      right: 0;
      background: transparent;
      border: none;
      cursor: pointer;
      img {
        width: 20px;
      }
    }
  }

  &-title {
    margin-left: auto;
    margin-right: auto;
  }
}