<form class="modal" (ngSubmit)="save()" (keydown.enter)="save()" #createBoard="ngForm">
  <header class="header">
    <button mat-button [mat-dialog-close]="false" class="close-btn"><mat-icon>close</mat-icon></button>
    <h1 mat-dialog-title>{{'main.newBoard' | translate}}</h1>
  </header>
  <div class="content" mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ 'main.title' | translate}}</mat-label>
      <input matInput required
             [(ngModel)]="boardTitle" name="title">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'main.description' | translate}}</mat-label>
      <input matInput required
             [(ngModel)]="boardDescription" name="description">
    </mat-form-field>
  </div>
  <footer class="footer" mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="!createBoard.form.valid">
      {{'main.createBoard' | translate}}
    </button>
  </footer>
</form>
