<form #createBoard="ngForm" (keydown.enter)="save()" (ngSubmit)="save()" class="modal">
  <header class="header">
    <button [mat-dialog-close]="false" class="close-btn" mat-button>
      <mat-icon>close</mat-icon>
    </button>
    <h3 mat-dialog-title>{{'header.create-board-modal.title' | translate}}</h3>
  </header>
  <div class="content" mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ 'header.create-board-modal.board-title' | translate}}</mat-label>
      <input [(ngModel)]="boardTitle" matInput
             name="title" required>
    </mat-form-field>
  </div>
  <footer class="footer" mat-dialog-actions>
    <button
      [mat-dialog-close]="false"
      mat-button>{{"header.create-board-modal.cancel-btn" | translate}}
    </button>
    <button
      [disabled]="!createBoard.form.valid"
      color="primary"
      mat-raised-button
      type="submit">
      {{'header.create-board-modal.submit-btn' | translate}}
    </button>
  </footer>
</form>
