.modal {
  position: relative;
}

.header {
  text-align: center;
  padding: 10px 40px 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.close-btn {
  position: absolute;
  top: -20px;
  right: -20px;
  padding: 0
}

.footer {
  justify-content: flex-end;
}
