<section class="create-board">
  <!-- <div class="form-container" *ngIf="boardService.IsCreateBoardModalVisible"> -->
  <div class="form-container">

    <form
    #createBoardModalForm="ngForm" >

      <h3>{{'main-page.newBoard' | translate}}</h3>

      <mat-form-field appearance="fill">
        <mat-label for="title">{{'main-page.title' | translate}}</mat-label>
        <input type="text"
        matInput required
        name="title"
        [(ngModel)]="this.boardService.boardTitle"
        ></mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label for="description">{{'main-page.description' | translate}}</mat-label>
        <input type="text"
        matInput required
        name="description"
        [(ngModel)]="this.boardService.boardDescription"
        ></mat-form-field>

      <button
      type="submit"
      mat-button
      [disabled]="!createBoardModalForm.form.valid"
      [mat-dialog-close]="createBoardModalForm.form.value | json"
      >
      {{'main-page.createBoard' | translate}}
      </button>

    </form>

  </div>
  <p *ngIf="this.boardService.boardError">{{'main-page.boardCreateError' | translate}}</p>
</section>

