<form class="task-modal modal" (ngSubmit)="save()" #taskColumn="ngForm">
  <header class="header">
    <button mat-button [mat-dialog-close]="false" class="close-btn"><mat-icon>close</mat-icon></button>
    <h1 mat-dialog-title>Create task</h1>
  </header>
  <div class="content" mat-dialog-content>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput required
             [(ngModel)]="title" name="title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput required
             [(ngModel)]="description" name="description">
    </mat-form-field>
  </div>
  <footer class="footer" mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button type="submit" color="primary" [disabled]="!taskColumn.form.valid">Save</button>
  </footer>
</form>
