<section class="auth section">
  <div class="auth__content container">
    <h1 class="auth__title section__title">{{ 'auth.sign-in.title' | translate }}</h1>
    <form (ngSubmit)="submit()"
          [formGroup]="loginForm"
          class="auth__form auth-form">
      <mat-form-field class="auth-form__email" appearance="outline">
        <mat-label>{{ 'auth.forms.field-names.email' | translate }}</mat-label>
        <input
          formControlName="email"
          matInput
          name="login"
          type="text"
        >
        <mat-error *ngIf="hasEmailError">{{ getEmailErrorMessage() | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field class="auth-form__password" appearance="outline">
        <mat-label>{{'auth.forms.field-names.password' | translate}}</mat-label>
        <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput/>
        <button
          (click)="setHidePassword()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
          mat-icon-button
          matSuffix
          type="button"
        >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="hasPasswordError">{{ getPasswordErrorMessage() | translate}}</mat-error>
      </mat-form-field>

      <button
        class="auth-form__submit-btn"
        color="primary"
        mat-raised-button
        type="submit"
      >{{ 'auth.sign-in.submit' | translate }}</button>
    </form>
    <a [routerLink]="SIGN_UP_ROUTE_PATH"
       class="auth__sign-up-link">{{ 'auth.sign-in.sign-up-link' | translate }}</a>
  </div>
</section>
