.board{
  &-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 175px;
    height: 100px;
    background: grey;
    cursor: pointer;
    &:hover {
      background: darken(grey, 10%);
    }
  }
}