.main-page {
  &-container {
    max-width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  &-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid grey;
  }
  &-search-label {
    font-size: 17px;
  }
  &-search-input {
    font-size: 17px;
  }
}

h2 {
  align-self: center;
  font-size: 30px;
  text-align: center;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.board-items-block {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
}

.create-board {
  font-size: 17px;
  font-weight: 700;
  background: transparent;
  padding:5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  &:hover {
    background: lighten(grey, 40%);
  }
}
