<section class="main-page">
  <div class="container main-page-container">
    <div class="main-page-header">
      <h2>{{'main.boards' | translate}}</h2>
    </div>
    <div class="board-items-block">
      <app-board-item
        (boardClick)="onBoardClick($event)"
        *ngFor="let board of (stateBoards$ | async)!.boards
       | search: boardService.searchValue"
        [board]="board"
      >
      </app-board-item>
    </div>
    <p *ngIf="boardError">{{'main.boards-error' | translate}}</p>
  </div>
</section>
