<section class="main-page">
  <div class="container main-page-container">
    <div class="main-page-header">
      <h2>{{'main.boards' | translate}}</h2>
      <mat-form-field appearance="standard">
        <mat-label class="main-page-search-label">{{ 'main.search' | translate }}</mat-label>
        <input class="main-page-search-input"
        matInput (input)="boardService.searchValue = (inputValue.value)" #inputValue>
      </mat-form-field>
    </div>
    <div class="board-items-block" *ngIf="stateBoards$ | async as stateBoards">
      <app-board-item
        (boardClick)="onBoardClick($event)"
        *ngFor="let board of stateBoards.boards
       | search: boardService.searchValue"
        [board]="board"
      >
      </app-board-item>
    </div>
    <p *ngIf="boardError">{{'main.boards-error' | translate}}</p>
  </div>
</section>
