@import "src/styles/vars";

.not-found {
  &__content {
    text-align: center;
  }

  &__link {
    color: $blue-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
  }

  &__image-container {
    margin: auto;
    max-width: 500px;
  }

  &__image {
    max-width: 100%;
  }
}
