<footer class="footer">
  <p>&copy; 2022</p>
  <a href="https://github.com/Guseff" target="_blank" class="footer-link" mat-button>
    Vasily Gusev
  </a>
  <a href="https://github.com/adiletmaksatuly" target="_blank" class="footer-link" mat-button>
    Adilet Maksatuly
  </a>
  <a href="https://github.com/ShahzodK" target="_blank" class="footer-link" mat-button>
    Shahzod Kakhkhorov
  </a>
  <a href="https://github.com/dsh91698" target="_blank" class="footer-link" mat-button>
    Dimitrii Shabanov
  </a>
  <a href="https://rs.school/angular/" target="_blank" class="logo" mat-button>
    <img src="https://i.postimg.cc/DZWQtjYS/school-logo.png" alt="RSSchool">
  </a>
</footer>
