.footer {
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  a {
    color: white;
  }
  p {
    color: white;
    margin-bottom: 0;
  }
  img {
    max-width: 80px;
  }
}
