.footer {
  background-color: black;
  height: 48px;

  @media (max-width: 768px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__info {
    flex-grow: 1;

    display: flex;
    column-gap: 15px;
    row-gap: 10px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__links {
    flex-grow: 1;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 10px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__year {
    color: white;
    margin-bottom: 0;
  }

  &__link {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: darken(#ffffff, 10%) !important;
    }
  }

  &__logo-img {
    max-width: 80px;
  }
}


