<footer class="footer">
  <div class="container footer__content">
    <div class="footer__info">
      <p class="footer__year">&copy; 2022</p>
      <ul class="footer__links">
        <li *ngFor="let member of members">
          <a [href]="member.github" class="footer__link" target="_blank">
            {{ member.name | translate }}
          </a>
        </li>
      </ul>
    </div>
    <a class="footer__logo-link" href="https://rs.school/angular/" target="_blank">
      <img alt="RS-school" class="footer__logo-img" src="https://i.postimg.cc/DZWQtjYS/school-logo.png">
    </a>
  </div>
</footer>
