<footer class="footer">
  <div class="container footer-container">
    <div class="footer-info">
      <p>&copy; 2022</p>
      <div class="footer-links">
        <a href="https://github.com/Guseff" target="_blank" class="footer-link">
          Vasily Gusev
        </a>
        <a href="https://github.com/adiletmaksatuly" target="_blank" class="footer-link">
          Adilet Maksatuly
        </a>
        <a href="https://github.com/ShahzodK" target="_blank" class="footer-link">
          Shahzod Kakhkhorov
        </a>
        <a href="https://github.com/dsh91698" target="_blank" class="footer-link">
          Dimitrii Shabanov
        </a>
      </div>
    </div>
    <a href="https://rs.school/angular/" target="_blank" class="logo">
      <img src="https://i.postimg.cc/DZWQtjYS/school-logo.png" alt="RS-school">
    </a>
  </div>
</footer>
