.sectionLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;;
}

.wrapper {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  border-radius: 1rem;
  border: 1px solid #3f51b5;

  & h3 {
    margin-bottom: 1rem;
  }
}

.formLogin {
  display: flex;
  flex-direction: column;

}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.warning {
  width: 25%;
  margin-top: 3rem;
  padding: 2.5rem;
  border-radius: 1rem;
  font-style: italic;
  color: #ffffff;
  background-color: #f44336;;
}
