<app-form-section>
  <h2>{{ 'auth.sign-in.title' | translate }}</h2>
  <form class="formLogin" [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field appearance="standard">
      <mat-label for="login">{{ 'auth.forms.field-names.email' | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="email"
        name="login"
      >
      <mat-error *ngIf="hasEmailError">{{ getEmailErrorMessage() | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label for="password">{{ 'auth.forms.field-names.password' | translate }}</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        name="password"
      >
      <mat-error *ngIf="hasPasswordError">{{ getPasswordErrorMessage() | translate }}</mat-error>
    </mat-form-field>
    <div class="buttons">
      <a mat-button routerLink="">{{ 'common.main-link' | translate }}</a>
      <a mat-button routerLink="signup">{{ 'common.signup' | translate }}</a>
      <button
        mat-button
        type="submit"
      >{{ 'auth.sign-in.submit' | translate }}</button>
    </div>
  </form>
  <div *ngIf="!!isLoginError" class="warning">{{ errMessage | translate }}</div>
</app-form-section>
