.edit-profile {
  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .delete-user-button {
      width: 400px;
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
}