<div class="container edit-profile-container">
  <mat-card class="edit-profile-card">
    <mat-card-header>
      <mat-card-title>{{'edit-profile.title' | translate}}</mat-card-title>
    </mat-card-header>

    <form (ngSubmit)='submit()' [formGroup]="editProfileForm" class="edit-profile-form">
      <mat-form-field appearance="fill">
        <mat-label>{{'edit-profile.form.field-names.name' | translate}}</mat-label>
        <input formControlName="name" matInput name="name" type="text">

        <mat-error *ngIf="hasNameError">{{getNameErrorMessage() | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'edit-profile.form.field-names.email' | translate}}</mat-label>
        <input formControlName="email" matInput name="email" type="text">

        <mat-error *ngIf="hasEmailError">{{ getEmailErrorMessage() | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'edit-profile.form.field-names.password' | translate}}</mat-label>
        <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput/>
        <button
          (click)="setHidePassword()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
          mat-icon-button
          matSuffix
          type="button"
        >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="hasPasswordError">{{ getPasswordErrorMessage() | translate}}</mat-error>
      </mat-form-field>

      <button class="submit-btn" color="primary"
              mat-raised-button>{{'edit-profile.form.submit-btn' | translate}}</button>
    </form>

    <button (click)="deleteUser()" class="delete-btn" color="warn" mat-raised-button>
      {{'edit-profile.form.delete-btn' | translate}}
    </button>
  </mat-card>
</div>
