.edit-profile {
  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-form {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
}

.submit-btn, .delete-btn  {
  align-self: center;
}

.delete-btn {
  margin-top: 20px;
}
