<div class="modal">
  <header class="modal__header header">
    <button
      [mat-dialog-close]="false"
      class="header__close-btn"
      mat-button>
      <mat-icon>close</mat-icon>
    </button>
    <h3 mat-dialog-title>{{"core.confirm-modal.title" | translate}}</h3>
  </header>
  <footer class="modal__footer" mat-dialog-actions>
    <button
      [mat-dialog-close]="false"
      mat-raised-button>
      {{"core.confirm-modal.cancel" | translate}}
    </button>
    <button
      (click)="confirm()"
      color="warn"
      mat-raised-button>
      {{"core.confirm-modal.confirm" | translate}}
    </button>
  </footer>
</div>
