.modal {
  position: relative;
}

.header {
  text-align: center;
  padding: 10px 40px 0;
}

.close-btn {
  position: absolute;
  top: -20px;
  right: -20px;
  padding: 0;
  min-width: 40px;
}

.footer {
  justify-content: flex-end;
}
