.task {
  width: 90%;
  overflow-x: auto;
  text-align: left;
  margin-bottom: 15px;
  &:hover {
    background: darken(#fff, 10% )
  }
  &-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  &-title {
    margin-bottom: 0px;
  }
  p {
    padding-left: 15px;
  }
  .delete-task {
    &:hover {
      cursor: pointer;
    }
  }
}