/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*, *::before, *::after {
  box-sizing:  border-box;
}
app-root {
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

main > *:nth-child(2) {
  min-height: 100%;
  display: grid;
  grid-template-columns: 100%;
}

main > app-board-page {
  height: calc(100vh - 64px - 47px);
  display: flex !important;
  flex-direction: column;
}

.container {
  max-width: 1290px;
  padding: 0 15px;
  margin: auto;
}

@import "./styles/index.scss";
