<header class="header">
  <div class="header__btns">
    <button (click)="onNavigateBackClick()" color="primary" mat-raised-button>
      <mat-icon>arrow_back</mat-icon>
      <ng-container *ngIf="screenWidth > 576">
        {{"board.header.back-btn" | translate}}
      </ng-container>
    </button>
    <button (click)="showCreateColumnModal()" class="create-column-btn" mat-stroked-button>
      <mat-icon>add</mat-icon>
      <ng-container *ngIf="screenWidth > 576">
        {{ "board.create-column-btn" | translate }}
      </ng-container>
    </button>
  </div>
  <h1 class="header__title">{{ boardTitle }}</h1>
</header>
