.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 16px;
  border-bottom: 1px solid #ccc;
}

.header-btns {
  display: flex;
  gap: 15px;
}

.title {
  margin: 0 40px 0 0;
}
